scala: gov.wicourts.codegen.test.fastdecoding.Domains
purs: Test.Ccap.Codegen.FastDecoding.Domains

type StringT: wrap String
type BooleanT: wrap Boolean
type IntT: wrap Int
type DecimalT: wrap Decimal
