scala: test.Printed
purs: Test.Printed
import Imported
type YesNo: Boolean
type Number: Decimal
type Text: String
type Integer: Int
type TagType: wrap Int
type Optional: Maybe Int
type Collection: Array Int
type Point: {
  x: Int
  y: Int
}
type InternalRef: Integer
type ExternalRef: Imported.ImportedType
