.env
.psc-ide-port
.vscode/settings.json
/.idea
/.spago/
/.psc-ide-port
/.psci*
/.pulp-cache/
/node_modules/
/output/
/pursuit.json
/src/.webpack.js
/test/generated/*
package-lock.json
yarn.lock
.metals
tags
