/*
 * An example template file
 */

// - A template file consists of one or more modules.
// - A module consists of one or more type declarations.
// - Non-primitive type and module names are camel-case with an initial upper-case letter.
// - Any type can be marked as optional (Maybe in PureScript, Option in Scala)
// - Any type can be tagged with wrap (newtype in PureScript, Scalaz @@ in Scala)
//
// The following primitive types are supported:
//   - boolean
//   - int
//   - decimal
//   - string
//
// Record types:
//   - Contain one one or more properties.
//   - Property names are camel-case with an initial lower-case letter.
//   - Record types must be given a name to be nested within a record or used
//     in an array type.
//
// TODO cross-module type references, types (domains) from database, PureScript, Scala

module County {
  type CountyNo: wrap int
  type CountyName: string
  type AssessFacilityId: wrap int

  type County: {
    countyNo: CountyNo
    countyName: CountyName
    assessFacilityId: optional AssessFacilityId
    soapPort: int
  }

  type Response: {
    counties: array County
  }

  type CountyEnum: [
    | Adams
    | Ashland
    | Baron
    | Etc
  ]
}
