module Domains {

  type ABACityStateT: wrap decimal
  type ABARoutingNoT: wrap string
    <validations maxLength="9">
  type AccDocNoT: wrap int
  type AccSeverityT: wrap string
    <validations maxLength="1">
  type AccidentDocNoT: wrap string
    <validations maxLength="10">
  type AcctCatCodeT: wrap string
    <validations maxLength="1">
  type AcctCodeT: wrap string
    <validations maxLength="5">
  type AcctNoT: wrap string
    <validations maxLength="15">
  type AcctTypeT: wrap string
    <validations maxLength="3">
  type ActionCodeT: wrap string
    <validations maxLength="5">
  type ActionDescrT: wrap string
    <validations maxLength="50">
  type ActionPayTypeT: wrap string
    <validations maxLength="1">
  type ActionSeqNoT: wrap int
  type ActionTypeT: wrap string
    <validations maxLength="1">
  type ActivStatusCodeT: wrap string
    <validations maxLength="4">
  type ActivStatusDescrT: wrap string
    <validations maxLength="20">
  type ActiveDirectGuidT: wrap string
    <validations maxLength="36">
  type ActivityDescrT: wrap string
    <validations maxLength="100">
  type ActivityTypeT: wrap string
    <validations maxLength="5">
  type ActorNameT: wrap string
    <validations maxLength="30">
  type AddrSeqNoT: wrap int
  type AddressIDT: wrap int
  type AddtlReasonDescT: wrap string
    <validations maxLength="50">
  type AddtlReasonIDT: wrap int
  type AgencyTypeT: wrap string
    <validations maxLength="1">
  type AliasCodeT: wrap string
    <validations maxLength="3">
  type AliasNoT: wrap int
  type AmendNoNewT: wrap int
  type AnnotRangePageNoT: wrap int
  type AnnotRngPgStOffsT: wrap int
  type AnnotTransSeqNoT: wrap int
  type AnnotationQuoteT: wrap string
  type AnnotationRangeEndOffsetT: wrap int
  type AnnotationRangeEndT: wrap string
  type AnnotationRangeStartOffsetT: wrap int
  type AnnotationRangeStartT: wrap string
  type AnnotationSeqNoT: wrap int
  type AnnotationTextT: wrap string
  type AppNameT: wrap string
    <validations maxLength="20">
  type AppearCodeDescrT: wrap string
    <validations maxLength="15">
  type AppearCodeT: wrap string
    <validations maxLength="1">
  type AppearCourtNoT: wrap int
  type AppearancesT: wrap string
    <validations maxLength="140">
  type ApplicationCodeT: wrap string
    <validations maxLength="5">
  type ArrestCaseNoT: wrap string
    <validations maxLength="12">
  type ArrestTrackingNoT: wrap string
    <validations maxLength="14">
  type AschPctBasisT: wrap string
    <validations maxLength="5">
  type AsgnOptionIDT: wrap int
  type AssessFacilityIdT: wrap string
    <validations maxLength="10">
  type AssessModCodeT: wrap string
    <validations maxLength="3">
  type AssignmentMethodT: wrap string
    <validations maxLength="1">
  type AssignmentNoT: wrap string
    <validations maxLength="9">
  type AssignmentTypeT: wrap string
    <validations maxLength="2">
  type AttachmentSeqNoT: wrap int
  type AttnT: wrap string
    <validations maxLength="100">
  type AttyAddrLocSeqNoT: wrap int
  type AttyAddrNoT: wrap int
  type AttyAdmitByCodeT: wrap string
    <validations maxLength="1">
  type AttyAdmitByDescrT: wrap string
    <validations maxLength="20">
  type AttyAdmitCodeT: wrap string
    <validations maxLength="4">
  type AttyAdmitDescrT: wrap string
    <validations maxLength="20">
  type AttyEventCodeT: wrap string
    <validations maxLength="3">
  type AttyEventDescrT: wrap string
    <validations maxLength="50">
  type AttyFirmIdT: wrap string
    <validations maxLength="7">
  type AttyFirmNameT: wrap string
    <validations maxLength="100">
  type AttyNoT: wrap int
  type AttySeqNoT: wrap int
  type AttyStatusCodeT: wrap string
    <validations maxLength="1">
  type AttyStatusDescrT: wrap string
    <validations maxLength="20">
  type AttyTitleCodeT: wrap string
    <validations maxLength="2">
  type AttyTitleDescrT: wrap string
    <validations maxLength="100">
  type AuditIDT: wrap int
  type AuthorityTypeT: wrap string
    <validations maxLength="24">
  type AvailDateRangeT: wrap string
    <validations maxLength="50">
  type BailiffNoT: wrap string
    <validations maxLength="5">
  type BankAcctNoT: wrap string
    <validations maxLength="15">
  type BankNoT: wrap string
    <validations maxLength="9">
  type BarEffStatusT: wrap string
    <validations maxLength="60">
  type BarSchoolCodeT: wrap string
    <validations maxLength="4">
  type BarServiceClassT: wrap string
    <validations maxLength="6">
  type BasePathT: wrap string
    <validations maxLength="100">
  type BatchIDT: wrap int
  type BatchIdT: wrap string
    <validations maxLength="36">
  type BatchNoT: wrap int
  type BillerGroupIdT: wrap string
    <validations maxLength="3">
  type BillerIdT: wrap string
    <validations maxLength="3">
  type BondCondSeqNoT: wrap int
  type BondCondTemplCodeT: wrap string
    <validations maxLength="5">
  type BondCondTemplDescT: wrap string
    <validations maxLength="30">
  type BondCondTextT: wrap string
    <validations maxLength="200">
  type BondCondTypeDescrT: wrap string
    <validations maxLength="15">
  type BondCondTypeT: wrap string
    <validations maxLength="5">
  type BondConditionsT: wrap string
  type BondIdT: wrap string
    <validations maxLength="15">
  type BondSeqNoT: wrap int
  type BondType2T: wrap string
    <validations maxLength="1">
  type BondTypeT: wrap string
    <validations maxLength="2">
  type BookCaseNoT: wrap string
    <validations maxLength="12">
  type BookingORIT: wrap string
    <validations maxLength="9">
  type BooleanT: wrap boolean
  type BranchIdT: wrap string
    <validations maxLength="2">
  type BranchNewT: wrap int
  type BusinessNameT: wrap string
    <validations maxLength="60">
  type CCExpT: wrap string
    <validations maxLength="7">
  type CPIMnemonicT: wrap string
    <validations maxLength="10">
  type CalAccountIdT: wrap string
    <validations maxLength="40">
  type CalDispoCodeT: wrap string
    <validations maxLength="1">
  type CalDurationT: wrap decimal
  type CalExportOptionT: wrap string
    <validations maxLength="1">
  type CalMessageIdT: wrap string
    <validations maxLength="100">
  type CalSeqNoT: wrap int
  type CalSmsMessageNoT: wrap int
  type CapPrefixDescrT: wrap string
    <validations maxLength="150">
  type CapPrefixSeqNoT: wrap int
  type CaptionT: wrap string
    <validations maxLength="140">
  type CaseCloseSummaryT: wrap string
  type CaseDocNoT: wrap int
  type CaseNoT: wrap string
    <validations maxLength="14">
  type CaseNoteSeqNoT: wrap int
  type CaseNoteT: wrap string
  type CaseOptInSeqNoT: wrap int
  type CaseSeqNoNewT: wrap int
  type CaseSeqNoT: wrap int
  type CaseSuffixCodeT: wrap string
    <validations maxLength="5">
  type CaseSuffixDescrT: wrap string
    <validations maxLength="40">
  type CaseTransitionCdeT: wrap string
    <validations maxLength="20">
  type CaseTypeAbbrT: wrap string
    <validations maxLength="2">
  type CaseTypeDescT: wrap string
    <validations maxLength="50">
  type CaseTypeT: wrap string
    <validations maxLength="2">
  type CashierCodeT: wrap string
    <validations maxLength="3">
  type ChallengeSeqNoT: wrap int
  type ChargeIdT: wrap string
    <validations maxLength="15">
  type ChargeNoT: wrap int
  type ChargeSeqNoT: wrap int
  type ChargeStatusCodeT: wrap string
    <validations maxLength="2">
  type ChargeToStepSeqNoT: wrap int
  type CheckHeightT: wrap decimal
  type CheckNameT: wrap string
    <validations maxLength="60">
  type CheckNoT: wrap string
    <validations maxLength="25">
  type ChgDispoCodeDescrT: wrap string
    <validations maxLength="50">
  type ChildWelEpisodeIdT: wrap int
  type ChildWelHistSeqNoT: wrap int
  type ChildWelfareIdNoT: wrap int
  type CitnFilingSeqNoT: wrap int
  type CitnNoT: wrap string
    <validations maxLength="16">
  type CityT: wrap string
    <validations maxLength="50">
  type CityTypeT: wrap string
    <validations maxLength="1">
  type CivilEventTypeT: wrap string
    <validations maxLength="2">
  type CivilJdgmtSeqNoT: wrap int
  type CivilMoneyCodeT: wrap string
    <validations maxLength="5">
  type ClassNameT: wrap string
    <validations maxLength="255">
  type ClientMessageIdT: wrap string
    <validations maxLength="50">
  type CollAgencyCodeT: wrap string
    <validations maxLength="3">
  type CollHistCodeT: wrap string
    <validations maxLength="5">
  type ColumnNameT: wrap string
    <validations maxLength="30">
  type ColumnOrderNoT: wrap int
  type CommentT: wrap string
    <validations maxLength="45">
  type ConcurConsecCodeT: wrap string
    <validations maxLength="1">
  type ConcurConsecDtlNoT: wrap int
  type ConcurConsecSeqNoT: wrap int
  type CondCodeT: wrap string
    <validations maxLength="4">
  type CondSeqNoT: wrap int
  type ConditionTypeT: wrap string
    <validations maxLength="1">
  type ConfirmationIdT: wrap string
    <validations maxLength="36">
  type ConstraintNameT: wrap string
    <validations maxLength="50">
  type ConstraintSeqNoT: wrap int
  type CorrelationIDT: wrap decimal
  type CorrelationTypeT: wrap string
    <validations maxLength="20">
  type CostAgainstCodeT: wrap string
    <validations maxLength="1">
  type CostAgainstDescrT: wrap string
    <validations maxLength="10">
  type CountryIDT: wrap int
  type CountryT: wrap string
    <validations maxLength="50">
  type CountyNameT: wrap string
    <validations maxLength="20">
  type CountyNoT: wrap int
  type CourtActionCodeT: wrap string
    <validations maxLength="1">
  type CourtActionDescrT: wrap string
    <validations maxLength="20">
  type CourtDebitAcctNoT: wrap int
  type CourtDebitActNameT: wrap string
    <validations maxLength="50">
  type CourtRptrCodeT: wrap string
    <validations maxLength="4">
  type CourtTypeCodeT: wrap string
    <validations maxLength="2">
  type CourtTypeDescrT: wrap string
    <validations maxLength="40">
  type CpiT: wrap int
  type CtofcCaseSeqNoT: wrap int
  type CtofcNoT: wrap string
    <validations maxLength="4">
  type CtofcNoteSeqNoT: wrap int
  type CtofcNoteT: wrap string
  type CtofcNotificSeqNoT: wrap int
  type CtofcTypeCodeT: wrap string
    <validations maxLength="1">
  type CustomSearchNameT: wrap string
    <validations maxLength="60">
  type CustomSearchSeqNoT: wrap int
  type CustomViewNameT: wrap string
    <validations maxLength="60">
  type CustomViewSeqNoT: wrap int
  type CvJEventSeqNoT: wrap int
  type CvJMoneySeqNoT: wrap int
  type CycleCodeT: wrap string
    <validations maxLength="2">
  type DMVSeqNoT: wrap int
  type DNRCustomerNoT: wrap int
  type DNREnvelopeNoT: wrap int
  type DNRFormVersCodeT: wrap string
    <validations maxLength="10">
  type DNRLicenseCodeT: wrap string
    <validations maxLength="3">
  type DNRLicenseDescrT: wrap string
    <validations maxLength="100">
  type DNRLocTypeDescrT: wrap string
    <validations maxLength="40">
  type DNRLocationCodeT: wrap int
  type DNRLocationDescrT: wrap string
    <validations maxLength="50">
  type DNRLocationTypeT: wrap string
    <validations maxLength="1">
  type DNRMoneyCodeT: wrap string
    <validations maxLength="5">
  type DNRRegionCodeT: wrap string
    <validations maxLength="2">
  type DNRRegionDescrT: wrap string
    <validations maxLength="30">
  type DNRSentSeqNoT: wrap int
  type DNRSeqNoT: wrap int
  type DOCSeqNoT: wrap int
  type DOJSeqNoT: wrap int
  type DOTSeqNoT: wrap int
  type DTDIdT: wrap int
  type DTDT: wrap string
    <validations maxLength="255">
  type DWDWarrantNoT: wrap string
    <validations maxLength="15">
  type DaCaseNoT: wrap string
    <validations maxLength="12">
  type DaysServedT: wrap decimal
  type DbIdT: wrap string
    <validations maxLength="20">
  type DebtHistSeqNoT: wrap int
  type DebtNoT: wrap string
    <validations maxLength="5">
  type DebtSeqNoT: wrap int
  type DebtStatusCodeT: wrap string
    <validations maxLength="5">
  type DebtStatusDescrT: wrap string
    <validations maxLength="30">
  type DebtStatusHistCdT: wrap string
    <validations maxLength="5">
  type DefReqdReplyT: wrap string
    <validations maxLength="1">
  type DefendantIdT: wrap string
    <validations maxLength="15">
  type DemeritPointT: wrap int
  type DescriptionT: wrap string
    <validations maxLength="100">
  type DisbAgencyNameT: wrap string
    <validations maxLength="50">
  type DisbAgencyNoT: wrap string
    <validations maxLength="4">
  type DisbBatchNoT: wrap int
  type DischargeReasonT: wrap int
  type DischrgReasDescrT: wrap string
    <validations maxLength="40">
  type DispoCodeDescrT: wrap string
    <validations maxLength="40">
  type DispoCodeT: wrap string
    <validations maxLength="5">
  type DistinguishedNameT: wrap string
    <validations maxLength="160">
  type DistrictNoT: wrap int
  type DivisionCodeT: wrap string
    <validations maxLength="24">
  type DktTxtT: wrap string
    <validations maxLength="10000">
  type DmvCommunityCodeT: wrap int
  type DmvCommunityNameT: wrap string
    <validations maxLength="35">
  type DocAccessCodeT: wrap string
    <validations maxLength="50">
  type DocCategoryDescrT: wrap string
    <validations maxLength="50">
  type DocCategoryT: wrap string
    <validations maxLength="5">
  type DocDOCTypeT: wrap string
    <validations maxLength="10">
  type DocDraftIdT: wrap int
  type DocGroupNameT: wrap string
    <validations maxLength="25">
  type DocGroupSeqNoT: wrap int
  type DocIdT: wrap int
  type DocIndexSeqNoT: wrap int
  type DocIndexStatusT: wrap string
    <validations maxLength="1">
  type DocNameT: wrap string
    <validations maxLength="50">
  type DocNotcHistSeqNoT: wrap int
  type DocNoteT: wrap string
  type DocNoteTransSeqNoT: wrap int
  type DocTextT: wrap string
    <validations maxLength="10000000">
  type DocTypeDescrT: wrap string
    <validations maxLength="50">
  type DocTypeT: wrap string
    <validations maxLength="5">
  type DocViewSeqNoT: wrap int
  type DocletNameT: wrap string
    <validations maxLength="15">
  type DocletTabSeqNoT: wrap int
  type DocumentTextT: wrap string
  type DomainNameT: wrap string
    <validations maxLength="255">
  type DorCountyNoT: wrap int
  type DotCodeT: wrap int
  type DrawerIdT: wrap int
  type DriverLicNoT: wrap string
    <validations maxLength="20">
  type EAccountNoT: wrap int
  type EAccountStatusT: wrap string
    <validations maxLength="1">
  type EAcctCCEmailSeqNoT: wrap int
  type EFileBatchIdT: wrap int
  type EPayTranSeqNoT: wrap int
  type EPmtCitnStatusT: wrap string
    <validations maxLength="1">
  type EPmtRcvblStatusT: wrap string
    <validations maxLength="1">
  type ESBRoutingCodeT: wrap string
    <validations maxLength="3">
  type EcourtsAcctLongDescrT: wrap string
    <validations maxLength="1000">
  type EcourtsAcctShortDescrT: wrap string
    <validations maxLength="50">
  type EcourtsAcctTypeSeqNoT: wrap int
  type EcourtsAddrSeqNoT: wrap int
  type EcourtsAuthorityTypeT: wrap string
    <validations maxLength="255">
  type EcourtsCompanyNameT: wrap string
    <validations maxLength="100">
  type EcourtsCompanySeqNoT: wrap int
  type EcourtsFirmNameT: wrap string
    <validations maxLength="100">
  type EcourtsFirmSeqNoT: wrap int
  type EcourtsGroupSeqNoT: wrap int
  type EcourtsLockCodeT: wrap string
    <validations maxLength="2">
  type EcourtsPasswordT: wrap string
    <validations maxLength="60">
  type EcourtsTargetT: wrap string
    <validations maxLength="60">
  type EcourtsUserIdT: wrap string
    <validations maxLength="32">
  type EcourtsYubiKeyIdT: wrap string
    <validations maxLength="40">
  type EmailT: wrap string
    <validations maxLength="255">
  type EmployerT: wrap string
    <validations maxLength="100">
  type EnfmtActionCodeT: wrap string
    <validations maxLength="2">
  type EnfmtDescrT: wrap string
    <validations maxLength="25">
  type EventCatDescrT: wrap string
    <validations maxLength="20">
  type EventCategoryT: wrap string
    <validations maxLength="3">
  type EventCodeT: wrap string
    <validations maxLength="3">
  type EventDescrT: wrap string
    <validations maxLength="50">
  type EventStatusCodeT: wrap string
    <validations maxLength="4">
  type EventStatusDescrT: wrap string
    <validations maxLength="20">
  type EventTypeCodeDescT: wrap string
    <validations maxLength="20">
  type EventTypeCodeT: wrap string
    <validations maxLength="1">
  type EventTypeT: wrap string
    <validations maxLength="5">
  type ExLogSeqNoT: wrap int
  type ExpRecTypeT: wrap string
    <validations maxLength="1">
  type ExpenseSeqNoT: wrap int
  type ExpenseTypeT: wrap string
    <validations maxLength="1">
  type EyeColorCodeT: wrap string
    <validations maxLength="3">
  type FeatureDescrT: wrap string
    <validations maxLength="50">
  type FeatureNameT: wrap string
    <validations maxLength="10">
  type FeeWaiverSeqNoT: wrap int
  type FileLocTypeIDT: wrap int
  type FileLocationFrameT: wrap string
    <validations maxLength="20">
  type FileLocationNoT: wrap int
  type FileLocationSeqNoT: wrap int
  type FileLocationTapeT: wrap string
    <validations maxLength="20">
  type FileNameT: wrap string
    <validations maxLength="100">
  type FileStampTypeT: wrap string
    <validations maxLength="3">
  type FinAgencyTypeT: wrap string
    <validations maxLength="10">
  type FinPurgeSeqNoT: wrap int
  type FineForfSeqNoT: wrap int
  type FirstNameT: wrap string
    <validations maxLength="30">
  type FontPreferenceT: wrap string
    <validations maxLength="50">
  type FontT: wrap string
    <validations maxLength="1">
  type ForgvnMonySeqNoT: wrap int
  type FormDescriptionT: wrap string
    <validations maxLength="100">
  type FormNameT: wrap string
    <validations maxLength="255">
  type FormNumberT: wrap string
  type FormTypeDescrT: wrap string
    <validations maxLength="20">
  type FormTypeT: wrap string
    <validations maxLength="3">
  type FormVersCodeT: wrap string
    <validations maxLength="10">
  type FormulaSeqNoT: wrap int
  type FullNameT: wrap string
    <validations maxLength="132">
  type FunctionalAreaT: wrap string
    <validations maxLength="50">
  type GenLedAcctT: wrap string
    <validations maxLength="30">
  type GenLetterDocIdT: wrap int
  type GlClsT: wrap string
    <validations maxLength="1">
  type GlobalLinkIdT: wrap int
  type GracePdT: wrap int
  type GradYearT: wrap int
  type HairColorCodeT: wrap string
    <validations maxLength="3">
  type HashT: wrap string
    <validations maxLength="40">
  type HashedSecretT: wrap string
    <validations maxLength="64">
  type HexColorT: wrap string
    <validations maxLength="6">
  type HistSeqNoT: wrap int
  type HolidaySeqNoT: wrap int
  type HostNameT: wrap string
    <validations maxLength="10">
  type HostT: wrap string
    <validations maxLength="50">
  type HoursServedT: wrap decimal
  type IBRCodeT: wrap string
    <validations maxLength="3">
  type IBRDescrT: wrap string
    <validations maxLength="100">
  type ImportExceptionCodeT: wrap string
    <validations maxLength="1">
  type ImportSeqNoT: wrap int
  type IncrementT: wrap int
  type InstitutionNameT: wrap string
    <validations maxLength="50">
  type InstitutionNoT: wrap int
  type InterceptStatusT: wrap string
    <validations maxLength="15">
  type InterfaceNameT: wrap string
    <validations maxLength="20">
  type InterfaceStatusT: wrap int
  type IntermedXMLSeqNoT: wrap int
  type IntprCertLevelT: wrap string
    <validations maxLength="5">
  type IntprCertLvlDescrT: wrap string
    <validations maxLength="50">
  type IntprNoT: wrap int
  type InvoiceCodeDescrT: wrap string
    <validations maxLength="60">
  type InvoiceCodeT: wrap string
    <validations maxLength="3">
  type IpAddressT: wrap string
    <validations maxLength="15">
  type IssAgencyNmT: wrap string
    <validations maxLength="50">
  type IssAgencyNoT: wrap int
  type JAReasonCodeDescrT: wrap string
    <validations maxLength="50">
  type JAReasonCodeT: wrap string
    <validations maxLength="5">
  type JSONT: wrap string
  type JarFileNameT: wrap string
    <validations maxLength="100">
  type JavaPackageNameT: wrap string
    <validations maxLength="100">
  type JdgmtLienTypeT: wrap string
    <validations maxLength="2">
  type JdgmtPartyNoT: wrap int
  type JdgmtPartyStatusT: wrap string
    <validations maxLength="1">
  type JdgmtPartyTypeT: wrap string
    <validations maxLength="2">
  type JdgmtSeqNoT: wrap int
  type JobBatchNoT: wrap int
  type JobCodeT: wrap string
    <validations maxLength="10">
  type JobDescrT: wrap string
    <validations maxLength="50">
  type JobIdT: wrap int
  type JobNameT: wrap string
    <validations maxLength="40">
  type JobTitleT: wrap string
    <validations maxLength="50">
  type JointSevAssessNoT: wrap int
  type JudAssignNoT: wrap string
    <validations maxLength="12">
  type JudAssignSeqNoT: wrap int
  type JudgeNotesT: wrap string
  type JudgmentIntRateT: wrap decimal
  type JudgmentPriorityT: wrap int
  type JurInstrOrdSeqNoT: wrap int
  type JurisdActionCodeT: wrap string
    <validations maxLength="3">
  type JurisdActionDescrT: wrap string
    <validations maxLength="30">
  type JurorAvailabilityCodeT: wrap string
    <validations maxLength="5">
  type JurorCheckInMsgT: wrap string
    <validations maxLength="2000">
  type JurorIdT: wrap int
  type JurorPostpReqSeqT: wrap int
  type JurorPostpReqStatT: wrap string
    <validations maxLength="1">
  type JurorStatGreetingT: wrap string
    <validations maxLength="2000">
  type JurorStatusCodeT: wrap string
    <validations maxLength="5">
  type JuryBranchIdT: wrap string
    <validations maxLength="10">
  type JuryBranchNoT: wrap string
    <validations maxLength="2">
  type JuryCaseResultT: wrap string
    <validations maxLength="100">
  type JuryCatSeqNo: wrap int
  type JuryInstTmplSeqNoT: wrap int
  type JuryInstrDocTextT: wrap string
  type JuryInstrNoT: wrap string
    <validations maxLength="50">
  type JuryInstrSeqNoT: wrap int
  type JuryInstrTitleT: wrap string
    <validations maxLength="300">
  type JuryInstrTypeT: wrap string
    <validations maxLength="1">
  type JuryReportSeqNoT: wrap int
  type JurySizeT: wrap int
  type JuryYearT: wrap string
    <validations maxLength="4">
  type JustisNoT: wrap string
    <validations maxLength="8">
  type KeyEventSeqT: wrap int
  type LCSubTextT: wrap string
    <validations maxLength="50">
  type LanguageCodeT: wrap string
    <validations maxLength="5">
  type LanguageDescrT: wrap string
    <validations maxLength="50">
  type LanguageNameT: wrap string
    <validations maxLength="50">
  type LanguageT: wrap string
    <validations maxLength="3">
  type LastNameT: wrap string
    <validations maxLength="60">
  type LiClassT: wrap string
    <validations maxLength="1">
  type LiEndorsementT: wrap string
    <validations maxLength="1">
  type LineSpacingT: wrap decimal
  type LinkActionT: wrap string
    <validations maxLength="6">
  type LinkDescrT: wrap string
    <validations maxLength="100">
  type LinkIdT: wrap int
  type LinkNameT: wrap string
    <validations maxLength="50">
  type LinkTargetT: wrap string
    <validations maxLength="1000">
  type LocDescrT: wrap string
    <validations maxLength="100">
  type LocT: wrap string
    <validations maxLength="50">
  type LocalGovtNameT: wrap string
    <validations maxLength="60">
  type LocalGovtSeqNoT: wrap int
  type LookUpCategoryT: wrap string
    <validations maxLength="25">
  type LookUpCodeT: wrap string
    <validations maxLength="15">
  type LookUpDescT: wrap string
    <validations maxLength="50">
  type LookUpIDT: wrap int
  type MD5HashT: wrap string
    <validations maxLength="32">
  type MailCodeT: wrap string
    <validations maxLength="1">
  type MailDescrT: wrap string
    <validations maxLength="25">
  type MailServiceTypeT: wrap string
    <validations maxLength="1">
  type MailingOrderNewT: wrap int
  type MaintCodeT: wrap string
    <validations maxLength="2">
  type MaritalStatusT: wrap string
    <validations maxLength="1">
  type MasterJurorSeqNoT: wrap int
  type MaxPmtsToMissT: wrap int
  type MeasureDescrT: wrap string
    <validations maxLength="100">
  type MeasureGroupDescrT: wrap string
    <validations maxLength="20">
  type MeasureGroupId: wrap int
  type MeasureIdT: wrap int
  type MessageDocSeqNoT: wrap decimal
  type MessageSeqNoT: wrap decimal
  type MessageTypeT: wrap string
    <validations maxLength="20">
  type MiddleNameT: wrap string
    <validations maxLength="30">
  type MileT: wrap decimal
  type MileageRateT: wrap decimal
  type MimeTypeT: wrap string
    <validations maxLength="10">
  type MoneyT: wrap decimal
  type MonthNoNewT: wrap int
  type MotionDispoCodeT: wrap string
    <validations maxLength="1">
  type MotionDispoDescrT: wrap string
    <validations maxLength="10">
  type MunicipalityCodeT: wrap string
    <validations maxLength="7">
  type MunicipalityDescT: wrap string
    <validations maxLength="50">
  type MunicipalityIDT: wrap int
  type NCICAgencyIdT: wrap string
    <validations maxLength="9">
  type NCICCodeT: wrap string
    <validations maxLength="4">
  type NCICDescrT: wrap string
    <validations maxLength="80">
  type NameInfoT: wrap string
    <validations maxLength="60">
  type NamePrefixT: wrap string
    <validations maxLength="4">
  type NameSuffixT: wrap string
    <validations maxLength="3">
  type NewPartyAKASeqNoT: wrap decimal
  type NewPartyAttySeqNoT: wrap decimal
  type NoJurorT: wrap int
  type NotcAgencyCodeT: wrap string
    <validations maxLength="5">
  type NotcRecEmAudSeqNoT: wrap int
  type NotcRecFromSeqNoT: wrap int
  type NotcRecipEStatusT: wrap string
    <validations maxLength="1">
  type NotcRecipSeqNoT: wrap int
  type NotesT: wrap string
    <validations maxLength="255">
  type NumDaysNewT: wrap decimal
  type OccupationT: wrap string
    <validations maxLength="100">
  type OffenseDateRangeT: wrap string
    <validations maxLength="100">
  type OfficerIdT: wrap string
    <validations maxLength="10">
  type OfficerSeqNoT: wrap int
  type OnHighwayT: wrap string
    <validations maxLength="255">
  type OpClassT: wrap string
    <validations maxLength="1">
  type OpEndorsementT: wrap string
    <validations maxLength="1">
  type OperLicNoT: wrap string
    <validations maxLength="25">
  type OrderSeqNoT: wrap int
  type OrderTypeCodeT: wrap string
    <validations maxLength="2">
  type OrderTypeT: wrap string
    <validations maxLength="3">
  type OrganizationCodeT: wrap string
    <validations maxLength="5">
  type PRDSeqNoT: wrap int
  type PageAnnotateSeqNoT: wrap int
  type PageNoT: wrap int
  type PanelDescrT: wrap string
    <validations maxLength="50">
  type PanelIdT: wrap string
    <validations maxLength="10">
  type PanelMemberNoT: wrap int
  type PanelRandomNoT: wrap int
  type PartyNoT: wrap int
  type PartySeqNoT: wrap decimal
  type PartyTypeCodeT: wrap string
    <validations maxLength="3">
  type PartyTypeDescrT: wrap string
    <validations maxLength="35">
  type PartyTypeT: wrap string
    <validations maxLength="2">
  type PayableNoT: wrap int
  type PayableSeqNoT: wrap int
  type PaymentChannelT: wrap string
    <validations maxLength="5">
  type PaymentDeferCodeT: wrap string
    <validations maxLength="3">
  type PaymentMethodT: wrap string
    <validations maxLength="3">
  type PaymentStatusT: wrap string
    <validations maxLength="4">
  type PctCoordinateT: wrap decimal
  type PdCodeT: wrap string
    <validations maxLength="2">
  type PenaltyStatuteT: wrap string
    <validations maxLength="21">
  type PendingCaseSeqNoT: wrap int
  type PercentageT: wrap decimal
  type PeremptoryNoT: wrap int
  type PeriodSeqNoT: wrap int
  type PermRevMethDescrT: wrap string
    <validations maxLength="30">
  type PermReviewMethodT: wrap int
  type PermReviewSeqNoT: wrap int
  type PersonIDT: wrap int
  type PersonRoleCodeT: wrap int
  type PersonRoleIDT: wrap int
  type PhoneExtT: wrap string
    <validations maxLength="5">
  type PhoneIDT: wrap int
  type PhoneIntlT: wrap string
    <validations maxLength="25">
  type PhoneT: wrap string
    <validations maxLength="12">
  type PlaceEndTypeDescrT: wrap string
    <validations maxLength="40">
  type PlaceSettingDescrT: wrap string
    <validations maxLength="40">
  type PlacementEndTypeT: wrap int
  type PlacementReasDescT: wrap string
    <validations maxLength="40">
  type PlacementReasonT: wrap int
  type PlacementSettingT: wrap int
  type PleaCodeT: wrap string
    <validations maxLength="4">
  type PleaPriorityT: wrap int
  type PlntfAgencyNmT: wrap string
    <validations maxLength="50">
  type PlntfAgencyNoT: wrap int
  type PlntfAgencyTypeT: wrap string
    <validations maxLength="1">
  type PmtMethodT: wrap string
    <validations maxLength="1">
  type PmtPriorityT: wrap int
  type PoolDescrT: wrap string
    <validations maxLength="50">
  type PoolIdT: wrap string
    <validations maxLength="10">
  type PoolImportStatusT: wrap string
    <validations maxLength="1">
  type PoolMemberNoT: wrap int
  type PoolRequestDocNameT: wrap string
    <validations maxLength="50">
  type PoolRequestSeqNoT: wrap int
  type PopulationT: wrap int
  type PortT: wrap int
  type PositionT: wrap decimal
  type PostponeReasonT: wrap string
  type PrefNameT: wrap string
    <validations maxLength="100">
  type PrimAddrT: wrap string
    <validations maxLength="50">
  type PrintStatusT: wrap string
    <validations maxLength="255">
  type PrinterNameT: wrap string
    <validations maxLength="31">
  type PriorityT: wrap int
  type PrisonerIdT: wrap string
    <validations maxLength="12">
  type ProHacViceAttyNoT: wrap string
    <validations maxLength="30">
  type ProSeNoT: wrap int
  type ProsAgencyNmT: wrap string
    <validations maxLength="50">
  type ProsAgencyNoT: wrap int
  type ProtOrdActionTypeT: wrap string
    <validations maxLength="1">
  type ProtOrdActnDescrT: wrap string
    <validations maxLength="20">
  type ProtOrderSeqNoT: wrap int
  type PrtEngineCodeT: wrap string
    <validations maxLength="3">
  type PublicOptInCodeT: wrap string
    <validations maxLength="6">
  type QueryNameT: wrap string
    <validations maxLength="255">
  type QuestionSeqNoT: wrap int
  type QueueNameT: wrap string
    <validations maxLength="32">
  type RaceCodeT: wrap string
    <validations maxLength="1">
  type RcptSchedSeqNoT: wrap int
  type RcptTypeCodeT: wrap string
    <validations maxLength="1">
  type RcvblAcctDescrT: wrap string
    <validations maxLength="20">
  type RcvblAcctTypeT: wrap string
    <validations maxLength="1">
  type RcvblNoT: wrap int
  type ReasonCodeT: wrap string
    <validations maxLength="3">
  type RecommendCodeT: wrap string
    <validations maxLength="1">
  type RecommendDescrT: wrap string
    <validations maxLength="20">
  type RecordTypeT: wrap string
    <validations maxLength="2">
  type RecordingLocationT: wrap string
    <validations maxLength="100">
  type RecurCalSeqNoT: wrap int
  type RecurHolidaySeqNoT: wrap int
  type RecurTimeBlkSeqNoT: wrap int
  type RedactAttemptNoT: wrap int
  type RegExValidationT: wrap string
  type RejectionCodeT: wrap string
    <validations maxLength="10">
  type RelSeqNoT: wrap int
  type RelationIdT: wrap int
  type RelationshipCodeT: wrap string
    <validations maxLength="2">
  type RelationshipDescrT: wrap string
    <validations maxLength="40">
  type ReportIdT: wrap string
    <validations maxLength="10">
  type ReportMethodCodeT: wrap string
    <validations maxLength="3">
  type ReportNameT: wrap string
    <validations maxLength="40">
  type ReportNoT: wrap int
  type ReportTypeT: wrap string
    <validations maxLength="1">
  type ReqAgencyNoT: wrap int
  type ReviewMessageT: wrap string
    <validations maxLength="500">
  type ReviewSeqNoT: wrap int
  type RngDaPrtyAliasSeqT: wrap int
  type RoomSeqNoT: wrap int
  type RowOrderT: wrap int
  type RptrStatusCodeT: wrap string
    <validations maxLength="1">
  type RptrStatusDescrT: wrap string
    <validations maxLength="25">
  type RungCorrTypeIdT: wrap string
    <validations maxLength="50">
  type RungDaChargeSeqNoT: wrap int
  type RungDaCitnSeqNoT: wrap int
  type RungDaPartySeqNoT: wrap int
  type RungHostIdT: wrap string
    <validations maxLength="25">
  type RungStatusT: wrap string
    <validations maxLength="1">
  type RungUserIdT: wrap string
    <validations maxLength="32">
  type SDCAddressT: wrap string
    <validations maxLength="40">
  type SDCAgencyIdT: wrap string
    <validations maxLength="6">
  type SDCCityT: wrap string
    <validations maxLength="22">
  type SDCFirstNameT: wrap string
    <validations maxLength="20">
  type SDCLastNameT: wrap string
    <validations maxLength="32">
  type SDCOperLicNoT: wrap string
    <validations maxLength="14">
  type SDCSsnT: wrap string
    <validations maxLength="9">
  type SalesTaxPctT: wrap decimal
  type SatisfactionT: wrap string
    <validations maxLength="1">
  type ScanHistSeqNoT: wrap int
  type ScannedDocSeqNoT: wrap int
  type SccaCaseNoT: wrap string
    <validations maxLength="14">
  type SchedCodeT: wrap string
    <validations maxLength="5">
  type SchedDescrT: wrap string
    <validations maxLength="25">
  type ScreenNameT: wrap string
    <validations maxLength="50">
  type ScvCodeT: wrap string
    <validations maxLength="2">
  type SearchNameT: wrap string
    <validations maxLength="125">
  type SearchStatuteCiteT: wrap string
    <validations maxLength="30">
  type SearchWarrantSeqNoT: wrap int
  type SeatChartSeqNoT: wrap int
  type SecAddrT: wrap string
    <validations maxLength="50">
  type SectionNoT: wrap int
  type SentCodeT: wrap string
    <validations maxLength="4">
  type SentToT: wrap string
    <validations maxLength="100">
  type SentencePriorityT: wrap int
  type SeqNoT: wrap int
  type SequentialIdT: wrap string
    <validations maxLength="50">
  type SevClsCodeT: wrap string
    <validations maxLength="2">
  type SexCodeT: wrap string
    <validations maxLength="1">
  type SignatureT: wrap string
    <validations maxLength="50">
  type SmsMessageNoT: wrap int
  type SortOrderNoT: wrap int
  type SortTypeT: wrap string
    <validations maxLength="4">
  type SoundexT: wrap string
    <validations maxLength="4">
  type SpclNotcSeqNoT: wrap int
  type SpeakerT: wrap string
    <validations maxLength="125">
  type Ssn2T: wrap string
    <validations maxLength="25">
  type Ssn3T: wrap string
    <validations maxLength="11">
  type StampActionT: wrap string
    <validations maxLength="1">
  type StampLineT: wrap string
    <validations maxLength="22">
  type StampTypeT: wrap string
    <validations maxLength="3">
  type StatIBRCodeSeqNoT: wrap int
  type StatNCICCodeSeqNoT: wrap int
  type StatReportSeqNoT: wrap int
  type StatRowNameT: wrap string
    <validations maxLength="50">
  type StatUCRACodeSeqNoT: wrap int
  type StatUCRRtACdSeqNoT: wrap int
  type StateDescT: wrap string
    <validations maxLength="50">
  type StateIdT: wrap int
  type StateT: wrap string
    <validations maxLength="2">
  type StatusCodeT: wrap string
    <validations maxLength="2">
  type StatuteCiteT: wrap string
    <validations maxLength="21">
  type StatuteDescrT: wrap string
    <validations maxLength="100">
  type StatuteSevSeqNoT: wrap int
  type StatuteTypeT: wrap string
    <validations maxLength="1">
  type StepAgencyCodeT: wrap string
    <validations maxLength="5">
  type StepAgencyDescrT: wrap string
    <validations maxLength="35">
  type StepDOJSeqNoT: wrap int
  type StepImportStatusT: wrap string
    <validations maxLength="1">
  type SupDurationT: wrap int
  type SuperAgencyNmT: wrap string
    <validations maxLength="50">
  type SuperAgencyNoT: wrap string
    <validations maxLength="3">
  type SupportingDocSeqNoT: wrap int
  type SyncSeqNoT: wrap int
  type TableNameT: wrap string
    <validations maxLength="30">
  type TagDescr: wrap string
    <validations maxLength="50">
  type TagDocAutoDescrT: wrap string
    <validations maxLength="100">
  type TagDocAutoIdT: wrap int
  type TagDocSeqNoT: wrap int
  type TagNameT: wrap string
    <validations maxLength="25">
  type TagTypeT: wrap string
    <validations maxLength="2">
  type TapeCounterNoT: wrap string
    <validations maxLength="16">
  type TapeLocT: wrap string
    <validations maxLength="18">
  type TempAccessCodeT: wrap string
    <validations maxLength="12">
  type TenderCodeT: wrap string
    <validations maxLength="2">
  type TenderSeqNoT: wrap int
  type TextT: wrap string
    <validations maxLength="2000">
  type ThrottleIdT: wrap string
    <validations maxLength="50">
  type TimeBlkTpSeqNoT: wrap int
  type TimeBlockSeqNoT: wrap int
  type TitleT: wrap string
    <validations maxLength="25">
  type TranDetailSeqNoT: wrap int
  type TranIdSeqNoT: wrap int
  type TranIdT: wrap string
    <validations maxLength="12">
  type TranImageSeqNoT: wrap decimal
  type TranNoT: wrap int
  type TranTypeT: wrap string
    <validations maxLength="1">
  type TranscriptCodeT: wrap string
    <validations maxLength="1">
  type TranscriptDescrT: wrap string
    <validations maxLength="25">
  type TriggeredCalNameT: wrap string
    <validations maxLength="100">
  type TriggeredCalSeqNoT: wrap int
  type TripCodeDescrT: wrap string
    <validations maxLength="30">
  type TripCodeT: wrap string
    <validations maxLength="5">
  type TripErrDescrT: wrap string
    <validations maxLength="255">
  type TripHistSeqNoT: wrap int
  type TripSeqNoT: wrap int
  type UCRACodeT: wrap string
    <validations maxLength="3">
  type UCRADescrT: wrap string
    <validations maxLength="100">
  type UCRRtACdT: wrap string
    <validations maxLength="3">
  type UCRRtADescrT: wrap string
    <validations maxLength="100">
  type URLT: wrap string
    <validations maxLength="255">
  type UUIDT: wrap string
    <validations maxLength="36">
  type UnifiedCaseNoT: wrap string
    <validations maxLength="14">
  type UpdateTypeIdT: wrap int
  type UserBarCodeNoT: wrap int
  type UserBarCodeTypeNoT: wrap int
  type UserIdT: wrap string
    <validations maxLength="8">
  type VersionNoT: wrap string
    <validations maxLength="10">
  type VersionT: wrap string
    <validations maxLength="20">
  type VoirDireNameT: wrap string
    <validations maxLength="50">
  type VoirDireSeqNoT: wrap int
  type VoteCodeT: wrap string
    <validations maxLength="1">
  type VoteDescrT: wrap string
    <validations maxLength="20">
  type WarrantSeqNoT: wrap int
  type WarrantTypeT: wrap string
    <validations maxLength="2">
  type WccaAgencyNameT: wrap string
    <validations maxLength="50">
  type WccaCommentsT: wrap string
    <validations maxLength="255">
  type WccaPasswordT: wrap string
    <validations maxLength="32">
  type WccaProfileNameT: wrap string
    <validations maxLength="50">
  type WccaTimeBlkSeqNoT: wrap int
  type WccaTitleT: wrap string
    <validations maxLength="50">
  type WccaUserNameT: wrap string
    <validations maxLength="32">
  type WccaUserTypeT: wrap string
    <validations maxLength="32">
  type WcisActivityCodeT: wrap string
    <validations maxLength="3">
  type WcisChrgDispoCodeT: wrap string
    <validations maxLength="2">
  type WcisClsCodeT: wrap string
    <validations maxLength="5">
  type WcisClsDescrT: wrap string
    <validations maxLength="40">
  type WcisClsJudgeTypeT: wrap string
    <validations maxLength="1">
  type WcisCondTypeT: wrap string
    <validations maxLength="1">
  type WcisSentCodeT: wrap string
    <validations maxLength="4">
  type WcisSpecStatusT: wrap string
    <validations maxLength="3">
  type WeightedRandomT: wrap decimal
  type WithdrawalOrdDescT: wrap string
    <validations maxLength="50">
  type WithdrwlOrdBasisT: wrap string
    <validations maxLength="3">
  type WitnessSeqNoT: wrap int
  type WitnessTypeT: wrap string
    <validations maxLength="1">
  type WorkstationIdT: wrap string
    <validations maxLength="10">
  type XMLIntT: wrap int
  type XMLSeqNoT: wrap int
  type XMLStringValueT: wrap string
    <validations maxLength="255">
  type XMLTagNameT: wrap string
    <validations maxLength="255">
  type XmlNameT: wrap string
    <validations maxLength="40">
  type XmlT: wrap string
  type XmlUsageT: wrap string
    <validations maxLength="20">
  type YearNoT: wrap int
  type ZipCodeT: wrap string
    <validations maxLength="10">
  type ZipT: wrap string
    <validations maxLength="10">
  type ZoneT: wrap string
    <validations maxLength="1">
}
