scala: Domains
purs: Domains

type ABACityStateT: wrap Decimal
type ABARoutingNoT: wrap String
  <validations maxLength="9">
type AccDocNoT: wrap Int
type AccSeverityT: wrap String
  <validations maxLength="1">
type AccidentDocNoT: wrap String
  <validations maxLength="10">
type AcctCatCodeT: wrap String
  <validations maxLength="1">
type AcctCodeT: wrap String
  <validations maxLength="5">
type AcctNoT: wrap String
  <validations maxLength="15">
type AcctTypeT: wrap String
  <validations maxLength="3">
type ActionCodeT: wrap String
  <validations maxLength="5">
type ActionDescrT: wrap String
  <validations maxLength="50">
type ActionPayTypeT: wrap String
  <validations maxLength="1">
type ActionSeqNoT: wrap Int
type ActionTypeT: wrap String
  <validations maxLength="1">
type ActivStatusCodeT: wrap String
  <validations maxLength="4">
type ActivStatusDescrT: wrap String
  <validations maxLength="20">
type ActiveDirectGuidT: wrap String
  <validations maxLength="36">
type ActivityDescrT: wrap String
  <validations maxLength="100">
type ActivityTypeT: wrap String
  <validations maxLength="5">
type ActorNameT: wrap String
  <validations maxLength="30">
type AddrSeqNoT: wrap Int
type AddressIDT: wrap Int
type AddtlReasonDescT: wrap String
  <validations maxLength="50">
type AddtlReasonIDT: wrap Int
type AgencyTypeT: wrap String
  <validations maxLength="1">
type AliasCodeT: wrap String
  <validations maxLength="3">
type AliasNoT: wrap Int
type AmendNoNewT: wrap Int
type AnnotRangePageNoT: wrap Int
type AnnotRngPgStOffsT: wrap Int
type AnnotTransSeqNoT: wrap Int
type AnnotationQuoteT: wrap String
type AnnotationRangeEndOffsetT: wrap Int
type AnnotationRangeEndT: wrap String
type AnnotationRangeStartOffsetT: wrap Int
type AnnotationRangeStartT: wrap String
type AnnotationSeqNoT: wrap Int
type AnnotationTextT: wrap String
type AppNameT: wrap String
  <validations maxLength="20">
type AppearCodeDescrT: wrap String
  <validations maxLength="15">
type AppearCodeT: wrap String
  <validations maxLength="1">
type AppearCourtNoT: wrap Int
type AppearancesT: wrap String
  <validations maxLength="140">
type ApplicationCodeT: wrap String
  <validations maxLength="5">
type ArrestCaseNoT: wrap String
  <validations maxLength="12">
type ArrestTrackingNoT: wrap String
  <validations maxLength="14">
type AschPctBasisT: wrap String
  <validations maxLength="5">
type AsgnOptionIDT: wrap Int
type AssessFacilityIdT: wrap String
  <validations maxLength="10">
type AssessModCodeT: wrap String
  <validations maxLength="3">
type AssignmentMethodT: wrap String
  <validations maxLength="1">
type AssignmentNoT: wrap String
  <validations maxLength="9">
type AssignmentTypeT: wrap String
  <validations maxLength="2">
type AttachmentSeqNoT: wrap Int
type AttnT: wrap String
  <validations maxLength="100">
type AttyAddrLocSeqNoT: wrap Int
type AttyAddrNoT: wrap Int
type AttyAdmitByCodeT: wrap String
  <validations maxLength="1">
type AttyAdmitByDescrT: wrap String
  <validations maxLength="20">
type AttyAdmitCodeT: wrap String
  <validations maxLength="4">
type AttyAdmitDescrT: wrap String
  <validations maxLength="20">
type AttyEventCodeT: wrap String
  <validations maxLength="3">
type AttyEventDescrT: wrap String
  <validations maxLength="50">
type AttyFirmIdT: wrap String
  <validations maxLength="7">
type AttyFirmNameT: wrap String
  <validations maxLength="100">
type AttyNoT: wrap Int
type AttySeqNoT: wrap Int
type AttyStatusCodeT: wrap String
  <validations maxLength="1">
type AttyStatusDescrT: wrap String
  <validations maxLength="20">
type AttyTitleCodeT: wrap String
  <validations maxLength="2">
type AttyTitleDescrT: wrap String
  <validations maxLength="100">
type AuditIDT: wrap Int
type AuthorityTypeT: wrap String
  <validations maxLength="24">
type AvailDateRangeT: wrap String
  <validations maxLength="50">
type BailiffNoT: wrap String
  <validations maxLength="5">
type BankAcctNoT: wrap String
  <validations maxLength="15">
type BankNoT: wrap String
  <validations maxLength="9">
type BarEffStatusT: wrap String
  <validations maxLength="60">
type BarSchoolCodeT: wrap String
  <validations maxLength="4">
type BarServiceClassT: wrap String
  <validations maxLength="6">
type BasePathT: wrap String
  <validations maxLength="100">
type BatchIdT: wrap String
  <validations maxLength="36">
type BatchNoT: wrap Int
type BillerGroupIdT: wrap String
  <validations maxLength="3">
type BillerIdT: wrap String
  <validations maxLength="3">
type BondCondSeqNoT: wrap Int
type BondCondTemplCodeT: wrap String
  <validations maxLength="5">
type BondCondTemplDescT: wrap String
  <validations maxLength="30">
type BondCondTextT: wrap String
  <validations maxLength="200">
type BondCondTypeDescrT: wrap String
  <validations maxLength="15">
type BondCondTypeT: wrap String
  <validations maxLength="5">
type BondConditionsT: wrap String
type BondIdT: wrap String
  <validations maxLength="15">
type BondSeqNoT: wrap Int
type BondType2T: wrap String
  <validations maxLength="1">
type BondTypeT: wrap String
  <validations maxLength="2">
type BookCaseNoT: wrap String
  <validations maxLength="12">
type BookingORIT: wrap String
  <validations maxLength="9">
type BooleanT: wrap Boolean
type BranchIdT: wrap String
  <validations maxLength="2">
type BranchNewT: wrap Int
type BusinessNameT: wrap String
  <validations maxLength="60">
type CCExpT: wrap String
  <validations maxLength="7">
type CPIMnemonicT: wrap String
  <validations maxLength="10">
type CalAccountIdT: wrap String
  <validations maxLength="40">
type CalDispoCodeT: wrap String
  <validations maxLength="1">
type CalDurationT: wrap Decimal
type CalExportOptionT: wrap String
  <validations maxLength="1">
type CalMessageIdT: wrap String
  <validations maxLength="100">
type CalSeqNoT: wrap Int
type CalSmsMessageNoT: wrap Int
type CapPrefixDescrT: wrap String
  <validations maxLength="150">
type CapPrefixSeqNoT: wrap Int
type CaptionT: wrap String
  <validations maxLength="140">
type CaseCloseSummaryT: wrap String
type CaseDocNoT: wrap Int
type CaseNoT: wrap String
  <validations maxLength="14">
type CaseNoteSeqNoT: wrap Int
type CaseNoteT: wrap String
type CaseOptInSeqNoT: wrap Int
type CaseSeqNoNewT: wrap Int
type CaseSeqNoT: wrap Int
type CaseSuffixCodeT: wrap String
  <validations maxLength="5">
type CaseSuffixDescrT: wrap String
  <validations maxLength="40">
type CaseTransitionCdeT: wrap String
  <validations maxLength="20">
type CaseTypeAbbrT: wrap String
  <validations maxLength="2">
type CaseTypeDescT: wrap String
  <validations maxLength="50">
type CaseTypeT: wrap String
  <validations maxLength="2">
type CashierCodeT: wrap String
  <validations maxLength="3">
type ChallengeSeqNoT: wrap Int
type ChargeIdT: wrap String
  <validations maxLength="15">
type ChargeNoT: wrap Int
type ChargeSeqNoT: wrap Int
type ChargeStatusCodeT: wrap String
  <validations maxLength="2">
type ChargeToStepSeqNoT: wrap Int
type CheckHeightT: wrap Decimal
type CheckNameT: wrap String
  <validations maxLength="60">
type CheckNoT: wrap String
  <validations maxLength="25">
type ChgDispoCodeDescrT: wrap String
  <validations maxLength="50">
type ChildWelEpisodeIdT: wrap Int
type ChildWelHistSeqNoT: wrap Int
type ChildWelfareIdNoT: wrap Int
type CitnFilingSeqNoT: wrap Int
type CitnNoT: wrap String
  <validations maxLength="16">
type CityT: wrap String
  <validations maxLength="50">
type CityTypeT: wrap String
  <validations maxLength="1">
type CivilEventTypeT: wrap String
  <validations maxLength="2">
type CivilJdgmtSeqNoT: wrap Int
type CivilMoneyCodeT: wrap String
  <validations maxLength="5">
type ClassNameT: wrap String
  <validations maxLength="255">
type ClientMessageIdT: wrap String
  <validations maxLength="50">
type CollAgencyCodeT: wrap String
  <validations maxLength="3">
type CollHistCodeT: wrap String
  <validations maxLength="5">
type ColumnNameT: wrap String
  <validations maxLength="30">
type ColumnOrderNoT: wrap Int
type CommentT: wrap String
  <validations maxLength="45">
type ConcurConsecCodeT: wrap String
  <validations maxLength="1">
type ConcurConsecDtlNoT: wrap Int
type ConcurConsecSeqNoT: wrap Int
type CondCodeT: wrap String
  <validations maxLength="4">
type CondSeqNoT: wrap Int
type ConditionTypeT: wrap String
  <validations maxLength="1">
type ConfirmationIdT: wrap String
  <validations maxLength="36">
type ConstraintNameT: wrap String
  <validations maxLength="50">
type ConstraintSeqNoT: wrap Int
type CorrelationIDT: wrap Decimal
type CorrelationTypeT: wrap String
  <validations maxLength="20">
type CostAgainstCodeT: wrap String
  <validations maxLength="1">
type CostAgainstDescrT: wrap String
  <validations maxLength="10">
type CountryIDT: wrap Int
type CountryT: wrap String
  <validations maxLength="50">
type CountyNameT: wrap String
  <validations maxLength="20">
type CountyNoT: wrap Int
type CourtActionCodeT: wrap String
  <validations maxLength="1">
type CourtActionDescrT: wrap String
  <validations maxLength="20">
type CourtDebitAcctNoT: wrap Int
type CourtDebitActNameT: wrap String
  <validations maxLength="50">
type CourtRptrCodeT: wrap String
  <validations maxLength="4">
type CourtTypeCodeT: wrap String
  <validations maxLength="2">
type CourtTypeDescrT: wrap String
  <validations maxLength="40">
type CpiT: wrap Int
type CtofcCaseSeqNoT: wrap Int
type CtofcNoT: wrap String
  <validations maxLength="4">
type CtofcNoteSeqNoT: wrap Int
type CtofcNoteT: wrap String
type CtofcNotificSeqNoT: wrap Int
type CtofcTypeCodeT: wrap String
  <validations maxLength="1">
type CustomSearchNameT: wrap String
  <validations maxLength="60">
type CustomSearchSeqNoT: wrap Int
type CustomViewNameT: wrap String
  <validations maxLength="60">
type CustomViewSeqNoT: wrap Int
type CvJEventSeqNoT: wrap Int
type CvJMoneySeqNoT: wrap Int
type CycleCodeT: wrap String
  <validations maxLength="2">
type DMVSeqNoT: wrap Int
type DNRCustomerNoT: wrap Int
type DNREnvelopeNoT: wrap Int
type DNRFormVersCodeT: wrap String
  <validations maxLength="10">
type DNRLicenseCodeT: wrap String
  <validations maxLength="3">
type DNRLicenseDescrT: wrap String
  <validations maxLength="100">
type DNRLocTypeDescrT: wrap String
  <validations maxLength="40">
type DNRLocationCodeT: wrap Int
type DNRLocationDescrT: wrap String
  <validations maxLength="50">
type DNRLocationTypeT: wrap String
  <validations maxLength="1">
type DNRMoneyCodeT: wrap String
  <validations maxLength="5">
type DNRRegionCodeT: wrap String
  <validations maxLength="2">
type DNRRegionDescrT: wrap String
  <validations maxLength="30">
type DNRSentSeqNoT: wrap Int
type DNRSeqNoT: wrap Int
type DOCSeqNoT: wrap Int
type DOJSeqNoT: wrap Int
type DOTSeqNoT: wrap Int
type DTDIdT: wrap Int
type DTDT: wrap String
  <validations maxLength="255">
type DWDWarrantNoT: wrap String
  <validations maxLength="15">
type DaCaseNoT: wrap String
  <validations maxLength="12">
type DateT: wrap DateTimeSupport.Date
type DaysServedT: wrap Decimal
type DbIdT: wrap String
  <validations maxLength="20">
type DebtHistSeqNoT: wrap Int
type DebtNoT: wrap String
  <validations maxLength="5">
type DebtSeqNoT: wrap Int
type DebtStatusCodeT: wrap String
  <validations maxLength="5">
type DebtStatusDescrT: wrap String
  <validations maxLength="30">
type DebtStatusHistCdT: wrap String
  <validations maxLength="5">
type DefReqdReplyT: wrap String
  <validations maxLength="1">
type DefendantIdT: wrap String
  <validations maxLength="15">
type DemeritPointT: wrap Int
type DescriptionT: wrap String
  <validations maxLength="100">
type DisbAgencyNameT: wrap String
  <validations maxLength="50">
type DisbAgencyNoT: wrap String
  <validations maxLength="4">
type DisbBatchNoT: wrap Int
type DischargeReasonT: wrap Int
type DischrgReasDescrT: wrap String
  <validations maxLength="40">
type DispoCodeDescrT: wrap String
  <validations maxLength="40">
type DispoCodeT: wrap String
  <validations maxLength="5">
type DistinguishedNameT: wrap String
  <validations maxLength="160">
type DistrictNoT: wrap Int
type DivisionCodeT: wrap String
  <validations maxLength="24">
type DktTxtT: wrap String
  <validations maxLength="10000">
type DmvCommunityCodeT: wrap Int
type DmvCommunityNameT: wrap String
  <validations maxLength="35">
type DocAccessCodeT: wrap String
  <validations maxLength="50">
type DocCategoryDescrT: wrap String
  <validations maxLength="50">
type DocCategoryT: wrap String
  <validations maxLength="5">
type DocDOCTypeT: wrap String
  <validations maxLength="10">
type DocDraftIdT: wrap Int
type DocGroupNameT: wrap String
  <validations maxLength="25">
type DocGroupSeqNoT: wrap Int
type DocIdT: wrap Int
type DocIndexSeqNoT: wrap Int
type DocIndexStatusT: wrap String
  <validations maxLength="1">
type DocNameT: wrap String
  <validations maxLength="50">
type DocNotcHistSeqNoT: wrap Int
type DocNoteT: wrap String
type DocNoteTransSeqNoT: wrap Int
type DocTextT: wrap String
  <validations maxLength="10000000">
type DocTypeDescrT: wrap String
  <validations maxLength="50">
type DocTypeT: wrap String
  <validations maxLength="5">
type DocViewSeqNoT: wrap Int
type DocletNameT: wrap String
  <validations maxLength="15">
type DocletTabSeqNoT: wrap Int
type DocumentTextT: wrap String
type DomainNameT: wrap String
  <validations maxLength="255">
type DorCountyNoT: wrap Int
type DotCodeT: wrap Int
type DrawerIdT: wrap Int
type DriverLicNoT: wrap String
  <validations maxLength="20">
type EAccountNoT: wrap Int
type EAccountStatusT: wrap String
  <validations maxLength="1">
type EAcctCCEmailSeqNoT: wrap Int
type EFileBatchIdT: wrap Int
type EPayTranSeqNoT: wrap Int
type EPmtCitnStatusT: wrap String
  <validations maxLength="1">
type EPmtRcvblStatusT: wrap String
  <validations maxLength="1">
type ESBRoutingCodeT: wrap String
  <validations maxLength="3">
type EcourtsAcctLongDescrT: wrap String
  <validations maxLength="1000">
type EcourtsAcctShortDescrT: wrap String
  <validations maxLength="50">
type EcourtsAcctTypeSeqNoT: wrap Int
type EcourtsAddrSeqNoT: wrap Int
type EcourtsAuthorityTypeT: wrap String
  <validations maxLength="255">
type EcourtsCompanyNameT: wrap String
  <validations maxLength="100">
type EcourtsCompanySeqNoT: wrap Int
type EcourtsFirmNameT: wrap String
  <validations maxLength="100">
type EcourtsFirmSeqNoT: wrap Int
type EcourtsGroupSeqNoT: wrap Int
type EcourtsLockCodeT: wrap String
  <validations maxLength="2">
type EcourtsPasswordT: wrap String
  <validations maxLength="60">
type EcourtsTargetT: wrap String
  <validations maxLength="60">
type EcourtsUserIdT: wrap String
  <validations maxLength="32">
type EcourtsYubiKeyIdT: wrap String
  <validations maxLength="40">
type EmailT: wrap String
  <validations maxLength="255">
type EmployerT: wrap String
  <validations maxLength="100">
type EnfmtActionCodeT: wrap String
  <validations maxLength="2">
type EnfmtDescrT: wrap String
  <validations maxLength="25">
type EventCatDescrT: wrap String
  <validations maxLength="20">
type EventCategoryT: wrap String
  <validations maxLength="3">
type EventCodeT: wrap String
  <validations maxLength="3">
type EventDescrT: wrap String
  <validations maxLength="50">
type EventStatusCodeT: wrap String
  <validations maxLength="4">
type EventStatusDescrT: wrap String
  <validations maxLength="20">
type EventTypeCodeDescT: wrap String
  <validations maxLength="20">
type EventTypeCodeT: wrap String
  <validations maxLength="1">
type EventTypeT: wrap String
  <validations maxLength="5">
type ExLogSeqNoT: wrap Int
type ExpRecTypeT: wrap String
  <validations maxLength="1">
type ExpenseSeqNoT: wrap Int
type ExpenseTypeT: wrap String
  <validations maxLength="1">
type EyeColorCodeT: wrap String
  <validations maxLength="3">
type FeatureDescrT: wrap String
  <validations maxLength="50">
type FeatureNameT: wrap String
  <validations maxLength="10">
type FeeWaiverSeqNoT: wrap Int
type FileLocTypeIDT: wrap Int
type FileLocationFrameT: wrap String
  <validations maxLength="20">
type FileLocationNoT: wrap Int
type FileLocationSeqNoT: wrap Int
type FileLocationTapeT: wrap String
  <validations maxLength="20">
type FileNameT: wrap String
  <validations maxLength="100">
type FileStampTypeT: wrap String
  <validations maxLength="3">
type FinAgencyTypeT: wrap String
  <validations maxLength="10">
type FinPurgeSeqNoT: wrap Int
type FineForfSeqNoT: wrap Int
type FirstNameT: wrap String
  <validations maxLength="30">
type FontPreferenceT: wrap String
  <validations maxLength="50">
type FontT: wrap String
  <validations maxLength="1">
type ForgvnMonySeqNoT: wrap Int
type FormDescriptionT: wrap String
  <validations maxLength="100">
type FormNameT: wrap String
  <validations maxLength="255">
type FormNumberT: wrap String
type FormTypeDescrT: wrap String
  <validations maxLength="20">
type FormTypeT: wrap String
  <validations maxLength="3">
type FormVersCodeT: wrap String
  <validations maxLength="10">
type FormulaSeqNoT: wrap Int
type FullNameT: wrap String
  <validations maxLength="132">
type FunctionalAreaT: wrap String
  <validations maxLength="50">
type GenLedAcctT: wrap String
  <validations maxLength="30">
type GenLetterDocIdT: wrap Int
type GlClsT: wrap String
  <validations maxLength="1">
type GlobalLinkIdT: wrap Int
type GracePdT: wrap Int
type GradYearT: wrap Int
type HairColorCodeT: wrap String
  <validations maxLength="3">
type HashT: wrap String
  <validations maxLength="40">
type HashedSecretT: wrap String
  <validations maxLength="64">
type HexColorT: wrap String
  <validations maxLength="6">
type HistSeqNoT: wrap Int
type HolidaySeqNoT: wrap Int
type HostNameT: wrap String
  <validations maxLength="10">
type HostT: wrap String
  <validations maxLength="50">
type HoursServedT: wrap Decimal
type IBRCodeT: wrap String
  <validations maxLength="3">
type IBRDescrT: wrap String
  <validations maxLength="100">
type ImportExceptionCodeT: wrap String
  <validations maxLength="1">
type ImportSeqNoT: wrap Int
type IncrementT: wrap Int
type InstitutionNameT: wrap String
  <validations maxLength="50">
type InstitutionNoT: wrap Int
type InterceptStatusT: wrap String
  <validations maxLength="15">
type InterfaceNameT: wrap String
  <validations maxLength="20">
type InterfaceStatusT: wrap Int
type IntermedXMLSeqNoT: wrap Int
type IntprCertLevelT: wrap String
  <validations maxLength="5">
type IntprCertLvlDescrT: wrap String
  <validations maxLength="50">
type IntprNoT: wrap Int
type InvoiceCodeDescrT: wrap String
  <validations maxLength="60">
type InvoiceCodeT: wrap String
  <validations maxLength="3">
type IpAddressT: wrap String
  <validations maxLength="15">
type IssAgencyNmT: wrap String
  <validations maxLength="50">
type IssAgencyNoT: wrap Int
type JAReasonCodeDescrT: wrap String
  <validations maxLength="50">
type JAReasonCodeT: wrap String
  <validations maxLength="5">
type JSONT: wrap String
type JarFileNameT: wrap String
  <validations maxLength="100">
type JavaPackageNameT: wrap String
  <validations maxLength="100">
type JdgmtLienTypeT: wrap String
  <validations maxLength="2">
type JdgmtPartyNoT: wrap Int
type JdgmtPartyStatusT: wrap String
  <validations maxLength="1">
type JdgmtPartyTypeT: wrap String
  <validations maxLength="2">
type JdgmtSeqNoT: wrap Int
type JobBatchNoT: wrap Int
type JobCodeT: wrap String
  <validations maxLength="10">
type JobDescrT: wrap String
  <validations maxLength="50">
type JobIdT: wrap Int
type JobNameT: wrap String
  <validations maxLength="40">
type JobTitleT: wrap String
  <validations maxLength="50">
type JointSevAssessNoT: wrap Int
type JudAssignNoT: wrap String
  <validations maxLength="12">
type JudAssignSeqNoT: wrap Int
type JudgeNotesT: wrap String
type JudgmentIntRateT: wrap Decimal
type JudgmentPriorityT: wrap Int
type JurInstrOrdSeqNoT: wrap Int
type JurisdActionCodeT: wrap String
  <validations maxLength="3">
type JurisdActionDescrT: wrap String
  <validations maxLength="30">
type JurorAvailabilityCodeT: wrap String
  <validations maxLength="5">
type JurorCheckInMsgT: wrap String
  <validations maxLength="2000">
type JurorIdT: wrap Int
type JurorPostpReqSeqT: wrap Int
type JurorPostpReqStatT: wrap String
  <validations maxLength="1">
type JurorStatGreetingT: wrap String
  <validations maxLength="2000">
type JurorStatusCodeT: wrap String
  <validations maxLength="5">
type JuryBranchIdT: wrap String
  <validations maxLength="10">
type JuryBranchNoT: wrap String
  <validations maxLength="2">
type JuryCaseResultT: wrap String
  <validations maxLength="100">
type JuryCatSeqNo: wrap Int
type JuryInstTmplSeqNoT: wrap Int
type JuryInstrDocTextT: wrap String
type JuryInstrNoT: wrap String
  <validations maxLength="50">
type JuryInstrSeqNoT: wrap Int
type JuryInstrTitleT: wrap String
  <validations maxLength="300">
type JuryInstrTypeT: wrap String
  <validations maxLength="1">
type JuryReportSeqNoT: wrap Int
type JurySizeT: wrap Int
type JuryYearT: wrap String
  <validations maxLength="4">
type JustisNoT: wrap String
  <validations maxLength="8">
type KeyEventSeqT: wrap Int
type LCSubTextT: wrap String
  <validations maxLength="50">
type LanguageCodeT: wrap String
  <validations maxLength="5">
type LanguageDescrT: wrap String
  <validations maxLength="50">
type LanguageNameT: wrap String
  <validations maxLength="50">
type LanguageT: wrap String
  <validations maxLength="3">
type LastNameT: wrap String
  <validations maxLength="60">
type LiClassT: wrap String
  <validations maxLength="1">
type LiEndorsementT: wrap String
  <validations maxLength="1">
type LineSpacingT: wrap Decimal
type LinkActionT: wrap String
  <validations maxLength="6">
type LinkDescrT: wrap String
  <validations maxLength="100">
type LinkIdT: wrap Int
type LinkNameT: wrap String
  <validations maxLength="50">
type LinkTargetT: wrap String
  <validations maxLength="1000">
type LocDescrT: wrap String
  <validations maxLength="100">
type LocT: wrap String
  <validations maxLength="50">
type LocalGovtNameT: wrap String
  <validations maxLength="60">
type LocalGovtSeqNoT: wrap Int
type LookUpCategoryT: wrap String
  <validations maxLength="25">
type LookUpCodeT: wrap String
  <validations maxLength="15">
type LookUpDescT: wrap String
  <validations maxLength="50">
type LookUpIDT: wrap Int
type MD5HashT: wrap String
  <validations maxLength="32">
type MailCodeT: wrap String
  <validations maxLength="1">
type MailDescrT: wrap String
  <validations maxLength="25">
type MailServiceTypeT: wrap String
  <validations maxLength="1">
type MailingOrderNewT: wrap Int
type MaintCodeT: wrap String
  <validations maxLength="2">
type MaritalStatusT: wrap String
  <validations maxLength="1">
type MasterJurorSeqNoT: wrap Int
type MaxPmtsToMissT: wrap Int
type MeasureDescrT: wrap String
  <validations maxLength="100">
type MeasureGroupDescrT: wrap String
  <validations maxLength="20">
type MeasureGroupId: wrap Int
type MeasureIdT: wrap Int
type MessageDocSeqNoT: wrap Decimal
type MessageSeqNoT: wrap Decimal
type MessageTypeT: wrap String
  <validations maxLength="20">
type MiddleNameT: wrap String
  <validations maxLength="30">
type MileT: wrap Decimal
type MileageRateT: wrap Decimal
type MimeTypeT: wrap String
  <validations maxLength="10">
type MoneyT: wrap Decimal
type MonthNoNewT: wrap Int
type MotionDispoCodeT: wrap String
  <validations maxLength="1">
type MotionDispoDescrT: wrap String
  <validations maxLength="10">
type MunicipalityCodeT: wrap String
  <validations maxLength="7">
type MunicipalityDescT: wrap String
  <validations maxLength="50">
type MunicipalityIDT: wrap Int
type NCICAgencyIdT: wrap String
  <validations maxLength="9">
type NCICCodeT: wrap String
  <validations maxLength="4">
type NCICDescrT: wrap String
  <validations maxLength="80">
type NameInfoT: wrap String
  <validations maxLength="60">
type NamePrefixT: wrap String
  <validations maxLength="4">
type NameSuffixT: wrap String
  <validations maxLength="3">
type NewPartyAKASeqNoT: wrap Decimal
type NewPartyAttySeqNoT: wrap Decimal
type NoJurorT: wrap Int
type NotcAgencyCodeT: wrap String
  <validations maxLength="5">
type NotcRecEmAudSeqNoT: wrap Int
type NotcRecFromSeqNoT: wrap Int
type NotcRecipEStatusT: wrap String
  <validations maxLength="1">
type NotcRecipSeqNoT: wrap Int
type NotesT: wrap String
  <validations maxLength="255">
type NumDaysNewT: wrap Decimal
type OccupationT: wrap String
  <validations maxLength="100">
type OffenseDateRangeT: wrap String
  <validations maxLength="100">
type OfficerIdT: wrap String
  <validations maxLength="10">
type OfficerSeqNoT: wrap Int
type OnHighwayT: wrap String
  <validations maxLength="255">
type OpClassT: wrap String
  <validations maxLength="1">
type OpEndorsementT: wrap String
  <validations maxLength="1">
type OperLicNoT: wrap String
  <validations maxLength="25">
type OrderSeqNoT: wrap Int
type OrderTypeCodeT: wrap String
  <validations maxLength="2">
type OrderTypeT: wrap String
  <validations maxLength="3">
type OrganizationCodeT: wrap String
  <validations maxLength="5">
type PRDSeqNoT: wrap Int
type PageAnnotateSeqNoT: wrap Int
type PageNoT: wrap Int
type PanelDescrT: wrap String
  <validations maxLength="50">
type PanelIdT: wrap String
  <validations maxLength="10">
type PanelMemberNoT: wrap Int
type PanelRandomNoT: wrap Int
type PartyNoT: wrap Int
type PartySeqNoT: wrap Decimal
type PartyTypeCodeT: wrap String
  <validations maxLength="3">
type PartyTypeDescrT: wrap String
  <validations maxLength="35">
type PartyTypeT: wrap String
  <validations maxLength="2">
type PayableNoT: wrap Int
type PayableSeqNoT: wrap Int
type PaymentChannelT: wrap String
  <validations maxLength="5">
type PaymentDeferCodeT: wrap String
  <validations maxLength="3">
type PaymentMethodT: wrap String
  <validations maxLength="3">
type PaymentStatusT: wrap String
  <validations maxLength="4">
type PctCoordinateT: wrap Decimal
type PdCodeT: wrap String
  <validations maxLength="2">
type PenaltyStatuteT: wrap String
  <validations maxLength="21">
type PendingCaseSeqNoT: wrap Int
type PercentageT: wrap Decimal
type PeremptoryNoT: wrap Int
type PeriodSeqNoT: wrap Int
type PermRevMethDescrT: wrap String
  <validations maxLength="30">
type PermReviewMethodT: wrap Int
type PermReviewSeqNoT: wrap Int
type PersonIDT: wrap Int
type PersonRoleCodeT: wrap Int
type PersonRoleIDT: wrap Int
type PhoneExtT: wrap String
  <validations maxLength="5">
type PhoneIDT: wrap Int
type PhoneIntlT: wrap String
  <validations maxLength="25">
type PhoneT: wrap String
  <validations maxLength="12">
type PlaceEndTypeDescrT: wrap String
  <validations maxLength="40">
type PlaceSettingDescrT: wrap String
  <validations maxLength="40">
type PlacementEndTypeT: wrap Int
type PlacementReasDescT: wrap String
  <validations maxLength="40">
type PlacementReasonT: wrap Int
type PlacementSettingT: wrap Int
type PleaCodeT: wrap String
  <validations maxLength="4">
type PleaPriorityT: wrap Int
type PlntfAgencyNmT: wrap String
  <validations maxLength="50">
type PlntfAgencyNoT: wrap Int
type PlntfAgencyTypeT: wrap String
  <validations maxLength="1">
type PmtMethodT: wrap String
  <validations maxLength="1">
type PmtPriorityT: wrap Int
type PoolDescrT: wrap String
  <validations maxLength="50">
type PoolIdT: wrap String
  <validations maxLength="10">
type PoolImportStatusT: wrap String
  <validations maxLength="1">
type PoolMemberNoT: wrap Int
type PoolRequestDocNameT: wrap String
  <validations maxLength="50">
type PoolRequestSeqNoT: wrap Int
type PopulationT: wrap Int
type PortT: wrap Int
type PositionT: wrap Decimal
type PostponeReasonT: wrap String
type PrefNameT: wrap String
  <validations maxLength="100">
type PrimAddrT: wrap String
  <validations maxLength="50">
type PrintStatusT: wrap String
  <validations maxLength="255">
type PrinterNameT: wrap String
  <validations maxLength="31">
type PriorityT: wrap Int
type PrisonerIdT: wrap String
  <validations maxLength="12">
type ProHacViceAttyNoT: wrap String
  <validations maxLength="30">
type ProSeNoT: wrap Int
type ProsAgencyNmT: wrap String
  <validations maxLength="50">
type ProsAgencyNoT: wrap Int
type ProtOrdActionTypeT: wrap String
  <validations maxLength="1">
type ProtOrdActnDescrT: wrap String
  <validations maxLength="20">
type ProtOrderSeqNoT: wrap Int
type PrtEngineCodeT: wrap String
  <validations maxLength="3">
type PublicOptInCodeT: wrap String
  <validations maxLength="6">
type QueryNameT: wrap String
  <validations maxLength="255">
type QuestionSeqNoT: wrap Int
type QueueNameT: wrap String
  <validations maxLength="32">
type RaceCodeT: wrap String
  <validations maxLength="1">
type RcptSchedSeqNoT: wrap Int
type RcptTypeCodeT: wrap String
  <validations maxLength="1">
type RcvblAcctDescrT: wrap String
  <validations maxLength="20">
type RcvblAcctTypeT: wrap String
  <validations maxLength="1">
type RcvblNoT: wrap Int
type ReasonCodeT: wrap String
  <validations maxLength="3">
type RecommendCodeT: wrap String
  <validations maxLength="1">
type RecommendDescrT: wrap String
  <validations maxLength="20">
type RecordTypeT: wrap String
  <validations maxLength="2">
type RecordingLocationT: wrap String
  <validations maxLength="100">
type RecurCalSeqNoT: wrap Int
type RecurHolidaySeqNoT: wrap Int
type RecurTimeBlkSeqNoT: wrap Int
type RedactAttemptNoT: wrap Int
type RegExValidationT: wrap String
type RejectionCodeT: wrap String
  <validations maxLength="10">
type RelSeqNoT: wrap Int
type RelationIdT: wrap Int
type RelationshipCodeT: wrap String
  <validations maxLength="2">
type RelationshipDescrT: wrap String
  <validations maxLength="40">
type ReportIdT: wrap String
  <validations maxLength="10">
type ReportMethodCodeT: wrap String
  <validations maxLength="3">
type ReportNameT: wrap String
  <validations maxLength="40">
type ReportNoT: wrap Int
type ReportTypeT: wrap String
  <validations maxLength="1">
type ReqAgencyNoT: wrap Int
type ReviewMessageT: wrap String
  <validations maxLength="500">
type ReviewSeqNoT: wrap Int
type RngDaPrtyAliasSeqT: wrap Int
type RoomSeqNoT: wrap Int
type RowOrderT: wrap Int
type RptrStatusCodeT: wrap String
  <validations maxLength="1">
type RptrStatusDescrT: wrap String
  <validations maxLength="25">
type RungCorrTypeIdT: wrap String
  <validations maxLength="50">
type RungDaChargeSeqNoT: wrap Int
type RungDaCitnSeqNoT: wrap Int
type RungDaPartySeqNoT: wrap Int
type RungHostIdT: wrap String
  <validations maxLength="25">
type RungStatusT: wrap String
  <validations maxLength="1">
type RungUserIdT: wrap String
  <validations maxLength="32">
type SDCAddressT: wrap String
  <validations maxLength="40">
type SDCAgencyIdT: wrap String
  <validations maxLength="6">
type SDCCityT: wrap String
  <validations maxLength="22">
type SDCFirstNameT: wrap String
  <validations maxLength="20">
type SDCLastNameT: wrap String
  <validations maxLength="32">
type SDCOperLicNoT: wrap String
  <validations maxLength="14">
type SDCSsnT: wrap String
  <validations maxLength="9">
type SalesTaxPctT: wrap Decimal
type SatisfactionT: wrap String
  <validations maxLength="1">
type ScanHistSeqNoT: wrap Int
type ScannedDocSeqNoT: wrap Int
type SccaCaseNoT: wrap String
  <validations maxLength="14">
type SchedCodeT: wrap String
  <validations maxLength="5">
type SchedDescrT: wrap String
  <validations maxLength="25">
type ScreenNameT: wrap String
  <validations maxLength="50">
type ScvCodeT: wrap String
  <validations maxLength="2">
type SearchNameT: wrap String
  <validations maxLength="125">
type SearchStatuteCiteT: wrap String
  <validations maxLength="30">
type SearchWarrantSeqNoT: wrap Int
type SeatChartSeqNoT: wrap Int
type SecAddrT: wrap String
  <validations maxLength="50">
type SectionNoT: wrap Int
type SentCodeT: wrap String
  <validations maxLength="4">
type SentToT: wrap String
  <validations maxLength="100">
type SentencePriorityT: wrap Int
type SeqNoT: wrap Int
type SequentialIdT: wrap String
  <validations maxLength="50">
type SevClsCodeT: wrap String
  <validations maxLength="2">
type SexCodeT: wrap String
  <validations maxLength="1">
type SignatureT: wrap String
  <validations maxLength="50">
type SmsMessageNoT: wrap Int
type SortOrderNoT: wrap Int
type SortTypeT: wrap String
  <validations maxLength="4">
type SoundexT: wrap String
  <validations maxLength="4">
type SpclNotcSeqNoT: wrap Int
type SpeakerT: wrap String
  <validations maxLength="125">
type Ssn2T: wrap String
  <validations maxLength="25">
type Ssn3T: wrap String
  <validations maxLength="11">
type StampActionT: wrap String
  <validations maxLength="1">
type StampLineT: wrap String
  <validations maxLength="22">
type StampTypeT: wrap String
  <validations maxLength="3">
type StatIBRCodeSeqNoT: wrap Int
type StatNCICCodeSeqNoT: wrap Int
type StatReportSeqNoT: wrap Int
type StatRowNameT: wrap String
  <validations maxLength="50">
type StatUCRACodeSeqNoT: wrap Int
type StatUCRRtACdSeqNoT: wrap Int
type StateDescT: wrap String
  <validations maxLength="50">
type StateIdT: wrap Int
type StateT: wrap String
  <validations maxLength="2">
type StatusCodeT: wrap String
  <validations maxLength="2">
type StatuteCiteT: wrap String
  <validations maxLength="21">
type StatuteDescrT: wrap String
  <validations maxLength="100">
type StatuteSevSeqNoT: wrap Int
type StatuteTypeT: wrap String
  <validations maxLength="1">
type StepAgencyCodeT: wrap String
  <validations maxLength="5">
type StepAgencyDescrT: wrap String
  <validations maxLength="35">
type StepDOJSeqNoT: wrap Int
type StepImportStatusT: wrap String
  <validations maxLength="1">
type SupDurationT: wrap Int
type SuperAgencyNmT: wrap String
  <validations maxLength="50">
type SuperAgencyNoT: wrap String
  <validations maxLength="3">
type SupportingDocSeqNoT: wrap Int
type SyncSeqNoT: wrap Int
type TROOrderNoT: wrap Int
type TableNameT: wrap String
  <validations maxLength="30">
type TagDescr: wrap String
  <validations maxLength="50">
type TagDocAutoDescrT: wrap String
  <validations maxLength="100">
type TagDocAutoIdT: wrap Int
type TagDocSeqNoT: wrap Int
type TagNameT: wrap String
  <validations maxLength="25">
type TagTypeT: wrap String
  <validations maxLength="2">
type TapeCounterNoT: wrap String
  <validations maxLength="16">
type TapeLocT: wrap String
  <validations maxLength="18">
type TempAccessCodeT: wrap String
  <validations maxLength="12">
type TenderCodeT: wrap String
  <validations maxLength="2">
type TenderSeqNoT: wrap Int
type TextT: wrap String
  <validations maxLength="2000">
type ThrottleIdT: wrap String
  <validations maxLength="50">
type TimeBlkTpSeqNoT: wrap Int
type TimeBlockSeqNoT: wrap Int
type TimeT: wrap DateTimeSupport.Time
type TimestampT: wrap DateTimeSupport.Timestamp
type TitleT: wrap String
  <validations maxLength="25">
type TranDetailSeqNoT: wrap Int
type TranIdSeqNoT: wrap Int
type TranIdT: wrap String
  <validations maxLength="12">
type TranImageSeqNoT: wrap Decimal
type TranNoT: wrap Int
type TranTypeT: wrap String
  <validations maxLength="1">
type TranscriptCodeT: wrap String
  <validations maxLength="1">
type TranscriptDescrT: wrap String
  <validations maxLength="25">
type TriggeredCalNameT: wrap String
  <validations maxLength="100">
type TriggeredCalSeqNoT: wrap Int
type TripCodeDescrT: wrap String
  <validations maxLength="30">
type TripCodeT: wrap String
  <validations maxLength="5">
type TripErrDescrT: wrap String
  <validations maxLength="255">
type TripHistSeqNoT: wrap Int
type TripSeqNoT: wrap Int
type UCRACodeT: wrap String
  <validations maxLength="3">
type UCRADescrT: wrap String
  <validations maxLength="100">
type UCRRtACdT: wrap String
  <validations maxLength="3">
type UCRRtADescrT: wrap String
  <validations maxLength="100">
type URLT: wrap String
  <validations maxLength="255">
type UUIDT: wrap String
  <validations maxLength="36">
type UnifiedCaseNoT: wrap String
  <validations maxLength="14">
type UpdateTypeIdT: wrap Int
type UserBarCodeNoT: wrap Int
type UserBarCodeTypeNoT: wrap Int
type UserIdT: wrap String
  <validations maxLength="8">
type VersionNoT: wrap String
  <validations maxLength="10">
type VersionT: wrap String
  <validations maxLength="20">
type VoirDireNameT: wrap String
  <validations maxLength="50">
type VoirDireSeqNoT: wrap Int
type VoteCodeT: wrap String
  <validations maxLength="1">
type VoteDescrT: wrap String
  <validations maxLength="20">
type WarrantSeqNoT: wrap Int
type WarrantTypeT: wrap String
  <validations maxLength="2">
type WccaAgencyNameT: wrap String
  <validations maxLength="50">
type WccaCommentsT: wrap String
  <validations maxLength="255">
type WccaPasswordT: wrap String
  <validations maxLength="32">
type WccaProfileNameT: wrap String
  <validations maxLength="50">
type WccaTimeBlkSeqNoT: wrap Int
type WccaTitleT: wrap String
  <validations maxLength="50">
type WccaUserNameT: wrap String
  <validations maxLength="32">
type WccaUserTypeT: wrap String
  <validations maxLength="32">
type WcisActivityCodeT: wrap String
  <validations maxLength="3">
type WcisChrgDispoCodeT: wrap String
  <validations maxLength="2">
type WcisClsCodeT: wrap String
  <validations maxLength="5">
type WcisClsDescrT: wrap String
  <validations maxLength="40">
type WcisClsJudgeTypeT: wrap String
  <validations maxLength="1">
type WcisCondTypeT: wrap String
  <validations maxLength="1">
type WcisSentCodeT: wrap String
  <validations maxLength="4">
type WcisSpecStatusT: wrap String
  <validations maxLength="3">
type WeightedRandomT: wrap Decimal
type WithdrawalOrdDescT: wrap String
  <validations maxLength="50">
type WithdrwlOrdBasisT: wrap String
  <validations maxLength="3">
type WitnessSeqNoT: wrap Int
type WitnessTypeT: wrap String
  <validations maxLength="1">
type WorkstationIdT: wrap String
  <validations maxLength="10">
type XMLIntT: wrap Int
type XMLSeqNoT: wrap Int
type XMLStringValueT: wrap String
  <validations maxLength="255">
type XMLTagNameT: wrap String
  <validations maxLength="255">
type XmlNameT: wrap String
  <validations maxLength="40">
type XmlT: wrap String
type XmlUsageT: wrap String
  <validations maxLength="20">
type YearNoT: wrap Int
type ZipCodeT: wrap String
  <validations maxLength="10">
type ZipT: wrap String
  <validations maxLength="10">
type ZoneT: wrap String
  <validations maxLength="1">
